@model AspNet_MVC_VPD111.Data.Entities.Product;

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@Model.ImageUrl" class="img-fluid rounded-start" alt="Image">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Description</p>
                <p class="card-text"><small class="text-muted">@Model.Price$</small></p>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-dark">Back</a>
</div>