<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <img width="400" src="https://d1m75rqqgidzqn.cloudfront.net/wp-data/2022/06/23011227/iStock-1285888054.jpg" alt="MVC" />
    
    <div>
        @* Razor Syntax: @if, @for, @{} ... *@
        @for(int i = 0; i < 10; ++i)
        {
            <img width="70" src="~/images/picture.png" alt="Image" />
        }
    </div>
</div>
